@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
$yellow: #fca311;
$black: #14213d;
$greyWhite: #e5e5e5;

body {
	font-family: 'Rubik', sans-serif;
	background-color: $black;
	padding: 25px;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.screen {
	width: 100vw;
	min-height: 100vh;
	background-color: $black;
}
.auth {
	max-width: 400px;
	width: 100%;
	h2 {
		color: $yellow;
	}
	input {
		border: 0;
		outline: 0;
		padding: 9px 12px;
		margin: 10px 0;
		width: 100%;

		border: 3px solid transparent;
		transition: 0.3s;
		&:focus {
			border-bottom-color: $yellow;
		}
	}
	button {
		width: 100%;
		border: 0;
		padding: 7px;
		background: $yellow;
		color: $black;
		margin: 10px 0;
		box-shadow: 0 0 14px #000000;
		transition: 0.3s;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover {
			box-shadow: 0 5px 17px #383838;
		}
	}
}
header {
	h1 {
		color: white;
		margin-bottom: 15px;
	}
	button {
		border: 0;
		outline: 0;
		background-color: transparent;
		cursor: pointer;
		color: $yellow;
		font-size: 18px;
		font-weight: 700;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			bottom: -3px;
			left: 0;
			height: 2px;
			width: 0;
			background-color: $yellow;
			transition: 0.3s;
		}
		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}
.list {
	list-style: none;
	margin-top: 25px;
	.day {
		overflow: hidden;
		margin: 5px 0;
		transition: 0.3s;
		.dayHeader {
			user-select: none;
			padding: 12px;
			background-color: $greyWhite;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 50px;
			cursor: pointer;
		}
	}
}
.subExpList {
	background: #e5e5e547;
	padding: 12px;
	color: white;
	li {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
		min-height: 30px;
	}
}

.error {
	margin: 10px 0;
	background: #ffebf0;
	display: flex;
	padding: 7px;
	color: #c30000;
	align-items: center;
	opacity: 0;
	transform: translateY(-15px);
	animation: fadeIn 0.7s forwards;
	p {
		margin-left: 7px;
		font-weight: 700;
	}
	svg {
		fill: none;
		stroke: #c30000;
	}
}

@media (max-width: 450px) {
	body {
		padding: 15px;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1 {
			margin: 0;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
